<h2>アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true %>
</div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード再入力" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<div class="form-inputs">

<hr class="my-4">
<div class="social-login">
  <h6 class="text-center mb-4">ソーシャルアカウントでログイン</h6>
  
  <div class="d-flex justify-content-center mb-3">
    <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-outline-danger me-2", data: { turbo: false } do %>
      <i class="fab fa-google"></i> Googleでログイン
    <% end %>
  </div>
  
  <div class="d-flex justify-content-center mb-3">
    <%= link_to user_twitter2_omniauth_authorize_path, method: :post, class: "btn btn-outline-primary me-2", data: { turbo: false } do %>
      <i class="fab fa-twitter"></i> Xでログイン
    <% end %>
  </div>
  
  <div class="d-flex justify-content-center mb-3">
    <%= link_to user_line_omniauth_authorize_path, method: :post, class: "btn btn-outline-success", data: { turbo: false } do %>
      <i class="fab fa-line"></i> LINEでログイン
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
