<h2>新規登録</h2>

<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(resource.errors.count, "つのエラー") %>があります
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.label :email, "メールアドレス", class: "form-label fw-bold" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@mail.com" %>

  <%= f.label :username, "ユーザー名", class: "form-label fw-bold" %>
  <%= f.text_field :username, class: "form-control", placeholder: "ユーザー名を入力" %>

  <%= f.label :password, "パスワード", class: "form-label fw-bold" %>
  <% if @minimum_password_length %>
    （<%= @minimum_password_length %> 文字以上）
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

  <%= f.label :password_confirmation, "パスワード（確認）", class: "form-label fw-bold" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>

　<%= f.submit "アカウント登録", class: "btn btn-primary btn-lg mt-4 mb-4" %>
<% end %>

<p>すでにアカウントをお持ちですか？ <%= link_to "ログイン", new_session_path(resource_name) %></p>

<hr class="my-4">

<div class="social-login">
  <h6 class="text-center mb-4">ソーシャルアカウントでログイン</h6>

  <div class="d-flex justify-content-center mb-3">
    <%= link_to "/users/auth/google_oauth2", method: :post, class: "btn btn-outline-danger me-2", data: { turbo: false } do %>
      <i class="fab fa-google"></i> Googleでログイン
    <% end %>
  </div>
</div>
